<!--Perfil del Usuario-->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="../inicio"></ion-back-button>
  </ion-buttons>
  <ion-title class="tituloPerfil">Mi Perfil</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <h2 class="labelInicio">Inicio Sesión</h2>
  <div class="contenedorLogin">
    <ion-item>
      <ion-input label="Email :" type="email" placeholder="email@domain.com"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contaseña:" type="password" value="password"></ion-input>
    </ion-item>
    <ion-button fill="clear" class="Session" (click)="openTabProfile()">Iniciar sesión</ion-button>
  </div>

</ion-content>