<!--Perfil del Usuario-->
<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button defaultHref="../inicio"></ion-back-button>
  </ion-buttons>
  <ion-title class="tituloPerfil">Inicio Sesión</ion-title>
</ion-toolbar>
<ion-content [fullscreen]="true">
  <div class="contenedorLogin">
    <img class="logoBici" src="assets/8b23fcad-5533-4046-81c8-e1d103bc7bbd.png" alt="Logo Bickeshop">

  
      <ion-label position="stacked" class="labelCustom">Correo electronico</ion-label>
      <ion-input type="email" placeholder="Ingresa tu correo" class="inputCustom"></ion-input>
      <ion-label position="stacked" class="labelCustom">Contaseña</ion-label>
      <ion-input type="password" value="password" class="inputCustom"></ion-input>
    



    <ion-button fill="clear" class="Session" (click)="openTabProfile()">Iniciar sesión</ion-button>
    <ion-button fill="clear" class="google" expand="block">
      <ion-icon slot="start" name="logo-google" class="logoGoogle" expand="block"></ion-icon>
      Continuar con google</ion-button>
    <ion-button fill="clear" class="invitado" (click)="openTabUser()">Iniciar como invitado</ion-button>
  </div>

</ion-content>
<ion-footer class="ion-no-border">
  <div class="footer">
    <p>¿No tienes una cuenta?<span class="cuenta"> Crear Cuenta</span></p>
  </div>
</ion-footer>