ion-content {
  --background: #f7f7f7;
}
ion-toolbar{
  --background: #f7f7f7;
  
}

.titulo{
  margin-left: 10px;
  font-weight: bold;
}
.header{
  box-shadow: none;
}

.header ion-icon{
  width: 40px;
  height: 40px;
}

.section-title {
  padding: 10px;
  margin-left: 20px;
  font-size: 1.1rem;
  font-weight: 800;
  margin: 16px 0;
  color: #333;

}
.custom-list{
  margin-top: 20px;
   background: #f7f7f7;
}

.custom-list ion-item {
  padding: 10px;
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.custom-list ion-item ion-label {
  margin-left: 20px;
  font-size: 1rem;
  font-weight: 500;
  color: #222;
}

.icon {
  font-size: 30px;
}

.green {
  color: #00FF00;
  
}