ion-content{
    --background: #f7f7f7;
}
ion-select {
  border: 1px solid #ccc;
}
.titulo{
    display: flex;
    text-align: center;
    padding-right: 70px;
}
.contenedoresInput{
    padding-left: 10px;
    padding-right: 10px;
}


