.miLista{
    
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 1px;  
    
}
.listLabel{
    font-weight: 600;
    border-radius: 12px;
    margin-bottom: 20px;  
    padding: 4px;
}
ion-searchbar.findCycle{
    padding: 25px;
    border-radius: 10px;
}
