ion-content {
    --background: #f7f7f7;
}

ion-toolbar {
    --background: #f7f7f7;
}
ion-icon{
    color: red;
}
.list{
   background: #f7f7f7;
}

.list ion-item {
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.listLabel ion-button{
    justify-content: space-between;
}
.modelo{
    font-size: 14px;
}
.marca{
    font-size: 20px;
}
.btnEliminar{
    background: transparentize($color: red, $amount: 0.8);
    border-radius: 5px;
}