ion-content {
    --background: #f7f7f7;
}

ion-toolbar {
    --background: #f7f7f7;
}
ion-icon{
    color: black;
}
.list{
   background: #f7f7f7;
}

.list ion-item {
  border-radius: 12px;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.list ion-item ion-label {
  font-size: 1rem;
  font-weight: 500;
  color: #222;
}
.listLabel ion-button{
    justify-content: space-between;
}
.btnEliminar{
    background: #00FF00;
    border-radius: 5px;
}